*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(35deg, rgb(41, 175, 160) 1%, rgb(29, 21, 136) 100%);
}

.container{
    width: 300px;
}
.container input{
    width: 100%;
}

.outputs{
    line-height: 50px;
    font-size: 30px;
    padding: 10px;
}