body{
    background-color: rgb(233, 227, 227);
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 600px;
}

.box{
    border: 2px solid white;
    background-color: rgb(223, 209, 183);
    background-position: center center;
    width: 550px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

.box_2{
    padding: 2%;
    margin: 0 10% 0 10%;
}

ul{
    padding: 3px;
    list-style: none;
}

button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 15px;
    display: block;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 15px;
}
button:hover{
    background-color:  rgb(106, 0, 206);
}