*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1C658C;
}

/* INDEX */
header{
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #398AB9;
}


.user-info{
    margin-left: 10px;
    color: #fff;
}

.logout-btn a{
    cursor: pointer;
    margin-right: 20px;
    border-radius: 4px;
    padding: 5px 8px;
    border: 1px solid rgb(79, 79, 188);
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
.logout-btn a:hover{
    background-color: #339;
}


.user-label{
    margin: 30px 50px;
    border-radius: 10px;
    background: #D8D2CB;
    padding: 10px;
}
.principal-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.principal-info img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 50%;
}
.user-data{
    display: block;
    margin-left: 10px;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

.posters{
    display: flex;
    margin: 0 20px;
}
.hobby_posters{
    width: 200px;
    margin: 0 20px;
    padding: 5px;
    border-radius: 4px;
    background-color: #D8D2CB;
    text-align: center;
}
.hobby_posters img{
    width: 100%;
    margin: 5px 0;
}

.all-users{
    border-radius: 10px;
    background-color: #D8D2CB;
    padding: 20px;
    margin: 20px;
}