*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.back-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    border: none;
    border: 1px solid white;
    color: #fff;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}
.back-btn:hover{
    background: #fff;
    color: #000;
}

.profile-div{
    height: 250px;
    width: 50%;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    background: rgb(34, 45, 48);
    color: #fff;
}
.profile-div img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-info-div{
    margin: 30px;
}